import React from \"react\";
import \"./App.css\";
import Navbar from \"./components/Navbar\";
import Hero from \"./components/Hero\";
import PainPoints from \"./components/PainPoints\";
import Features from \"./components/Features\";
import DemoSection from \"./components/DemoSection\";
import ProductSection from \"./components/ProductSection\";
import HowItWorks from \"./components/HowItWorks\";
import Pricing from \"./components/Pricing\";
import About from \"./components/About\";
import TrustSection from \"./components/TrustSection\";
import FAQ from \"./components/FAQ\";
import Contact from \"./components/Contact\";
import PrivacyPolicy from \"./components/PrivacyPolicy\";
import Terms from \"./components/Terms\";
import Footer from \"./components/Footer\";

function App() {
  return (
    <div className=\"App\">
      <Navbar />
      <Hero />
      <PainPoints />
      <Features />
      <DemoSection />
      <ProductSection />
      <HowItWorks />
      <Pricing />
      <TrustSection />
      <About />
      <FAQ />
      <Contact />
      <PrivacyPolicy />
      <Terms />
      <Footer />
    </div>
  );
}

export default App;